.notepad__textarea {
  min-width: 100%;
  height: calc(100% - 27px);
  overflow: auto;
  resize: none;
  font-family: monospace;
  font-size: 12px;
  white-space: nowrap;
  cursor: auto;

  &.word-wrap {
    white-space: normal;
  }
}
