html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #000;
  background: #5ed3f6 url(/static/wallpaper/default.jpg) 50% 50%;
}

#app {
  display: flex;
  align-items: flex-start;
  gap: 32px;
}
