html,
body {
  margin: 0;
}

body {
  font-family: sans-serif;
  color: #000;
  background: #e3e3e3;
}

a:link,
a:visited {
  color: green;
  transition: all 0.15s ease-in-out;
}

a:hover {
  color: darkblue;
}

a:active {
  color: rebeccapurple;
}

::selection {
  background-color: greenyellow;
  color: #000;
}

* {
  box-sizing: border-box;
}

#app {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.hello {
  position: relative;
  min-width: 20rem;
  max-width: calc(100vw - 2rem);
  width: fit-content;
  overflow: hidden;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.1rem;
  border-radius: 1rem;
  background-color: black;
  font-family: 'Fira Code Retina', 'Fira Code', monospace;
  color: greenyellow;
  outline: 0.5rem inset #ccc;
  text-shadow: 0 0 4px rgba(greenyellow, 0.6);
  // caret-color: greenyellow;
  // caret-shape: block;
  caret-color: #000;

  @media (min-width: 1024px) {
    min-width: 24rem;
    max-width: 70vw;
    padding: 2rem;
    font-size: 1.2rem;
  }

  * {
    display: inline;
  }

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-linear-gradient(
      transparent,
      transparent 3px,
      #00000050 3px,
      #00000050 4px
    );
    border-radius: 1rem;
    pointer-events: none;
  }

  &:focus-within:after {
    content: '█';
    animation: blonk 1s infinite;
  }
}

.introduction {
  margin-bottom: 4rem;
  font-size: 1.2rem;
}

@keyframes blonk {
  0% {
    color: #000;
  }
  50% {
    color: greenyellow;
  }
}
