.results {
  p {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.scan-btn {
  width: 100%;
  font-size: 24px;
}

.scanner {
  position: fixed;
  inset: 0;
  z-index: 1;
  background-color: rgba(#000, 0.6);
  backdrop-filter: blur(8px);

  .scanner-output {
    position: absolute;
    inset: 16px 16px 42px 16px;
  }

  .actions {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    gap: 16px;
    justify-content: space-between;
  }

  .btn {
    background: none;
    border: none;
    color: #fff;
    padding: 100vh 1rem 1rem;

    svg {
      width: 24px;
      height: 24px;
      fill: #fff;
    }
  }
}
